<div class="card">
    <app-item-name [itemName]="item.itemName"/>
    <app-category-component [category]="item.category"/>
    <app-priority-selector [initialPriority]="item.priority" (priorityChange)="onPriorityChange($event)"/>
    <app-status-selector [initialStatus]="item.status" (statusChange)="onStatusChange($event)"/>
    <div class="buttonContainer">
        <button id="edit-button">
            <mat-icon aria-label="Edit icon" (click)="onEditItem()">edit</mat-icon>
        </button>
        <button id="delete-button">
            <mat-icon aria-label="Delete icon" (click)="onDeleteItem()">delete</mat-icon>
        </button>
    </div>
</div>