<div class="card">
    <app-item-name/>
    <app-category-component/>
    <app-priority-selector [initialPriority]="priority" (priorityChange)="onPriorityChange($event)"/>
    <app-status-selector [initialStatus]="status" (statusChange)="onStatusChange($event)"/>
    <div class="buttonContainer">
        <button id="edit-button">
            <mat-icon aria-label="Edit icon">edit</mat-icon>
        </button>
        <button id="delete-button">
            <mat-icon aria-label="Delete icon">delete</mat-icon>
        </button>
    </div>
</div>
